{% extends "base.html" %}

{% block content %}
    {# Jinja2 has very weird scoping rules #}
    {# Inner loops cannot modify variables from outer scope #}
    {# Jinja2 also doesn't have a while loop, hence the following weird syntax #}
    {% set SAME_CATEGORY = [True] %}
    {% for article in articles %}
        {% if article.category != articles[0].category %}
            {% set _ = SAME_CATEGORY.pop() %}
            {% set _ = SAME_CATEGORY.append(False) %}
        {% endif %}
    {% endfor %}

    {% if SAME_CATEGORY[0] == False %}
    	<h1>Announcements</h1>
    {% else %}
    <h1>{{ category }} Posts: {{ tag }}</h1>
    {% endif %}
    <br>
    <hr>

    {% if articles %}
        {% for article in (articles_page.object_list if articles_page else articles) %}
            <article>
                <h2><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
                {% if DISPLAY_ARTICLE_INFO_ON_INDEX %}
                    <div class="well well-sm">
                        {% include "includes/article_info.html" %}
                    </div>
                {% endif %}
                <div class="summary">{{ article.summary }}
                    {% include 'includes/comment_count.html' %}
                    <a class="btn btn-default btn-xs" href="{{ SITEURL }}/{{ article.url }}">more ...</a>
                </div>
            </article>
            <hr/>
        {% endfor %}
    {% endif %}

    {% include 'includes/pagination.html' %}
{% endblock content %}
