{% extends "base.html" %}
{% block title %}Categories - {{ SITENAME }}{% endblock %}

{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
        <li class="active">Categories</li>
    </ol>
    {% endif %}
{% endblock %}

{% block content %}
    <section id="categories">
        <h1>TEST</h1>
        <h1>All categories for announcements </h1>
        <div class="panel-group" id="accordion">
            {% for tag, articles in tags %}
              {% if tag == "Tutorial" %}
              <div>{{ tag }}</div>
                {% for article in articles %}
                  <p><span class="categories-timestamp">
			            <time datetime="{{ article.date.isoformat() }}">
                    {{ article.date.strftime('%d %B %Y') }}
                    {%if article.time is defined %} @ {{ article.time }}{%endif%}
                  </time>
			            </span>
                  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a>
                  </p>
                {% endfor %}
              {% endif %}
            {% endfor %}
        </div>

    </section>
{% endblock %}
