{% extends "base.html" %}
{% block title %}{{ SITENAME }} :: {{ page.title }}{% endblock %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block meta %}
    <!--
    {% if page.author %}
        <meta name="author" content="{{ page.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    -->
    {% if page.summary %}
        <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}


{% block opengraph %}
    {% if OPEN_GRAPH_FB_APP_ID %}
        <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title|striptags|escape }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
    <meta property="og:description" content="{{ page.summary|striptags|escape }}" />
    {% if page.og_image %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ page.og_image }}"/>
    {% elif OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock %}


{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
	  {% if page.url %}
        <li class="active">{{ page.title }}</li>
	  {% endif %}
    </ol>
    {% endif %}
{% endblock %}



{% block banner %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">

  <div class="item active">
  	<center>
  	  <img src="{{ SITEURL }}/{{ BANNER }}" style="padding-top: 0px;
  	    padding-bottom: 0px" class="img-responsive">
  	</center>
  </div>

  <div class="item">
	  <div class="row">
	  <!-- each row / div should add up to 12 -->
	  <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3 
        col-lg-offset-3" style="margin-top:10px; font-size:20px">
		  <h2><a href="{{ SITEURL }}/{{ MAIN_PAGE_FOLDER }}/Collaboration.html">
				  Consultation & Collaboration</a></h2>
	    <p style="font-size: 85%">
      We are extremely keen to collaborate with researchers on campus on
      ambitious projects where expertise in data science would have a
      significant impact on the work.
      </p>
	    <a href="{{ SITEURL }}/{{ MAIN_PAGE_FOLDER }}/Collaboration.html"
           class="btn btn-primary btn-md hidden-xs" role="button" >
          	Propose projects
      </a>
	  </div>

	  <div class="col-xs-4 col-sm-3 col-md-2" style="margin-top:20px">
      <img 
        src="{{ SITEURL }}/images/DSI_pics/office_hours_in_conference_room_small.jpg"
        style="padding-top: 0px; padding-bottom: 0px" class="img-thumbnail">
	  </div>
    </div> <!-- end .row -->
  </div>

  <div class="item">
	  <div class="row">
	  <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3
        col-lg-offset-3" style="margin-top:10px;">
	    <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSdCT72MtNyEcTcbOP7bj76tkPw85H9Co1R_WxYKZu67gxzb7Q/viewform" target="_blank"> 
			Call for DSI affiliates
      </a></h2>
	    <p style="font-size: 100%">
      The Data Science Initiative (DSI) is building a campus community interested
      in Data Science.  Graduate students and postdocs developing and/or applying
      data science methods to research problems can apply to be affiliated with
      the DSI.
      </p>

      <a href="" class="btn btn-primary btn-md hidden-xs" role="button"
        target="_blank">Apply now!</a>
	  </div>

	  <div class="col-xs-4 col-sm-3 col-md-2" style="margin-top:20px">
      <img src="{{ SITEURL }}/images/DSI_pics/Ken_and_Ben_hacking_small.jpg"
        class="img-thumbnail">
	  </div>

    </div> <!-- end .row -->
  </div>
</div> <!-- end .carousel-inner -->

<!-- Carousel Bottom Buttons -->
<div style='padding-top: 50px'>
	<ol class="carousel-indicators" >
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
</div>

<!-- Carousel Left/Right Buttons -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>

</div>
{% endblock %}



{% block content %}
<section id="content" class="body">

<!-- Events / Opportunities Feed -->
<div class="row" style='margin-bottom:10px'>
  <div class="col-sm-4">
	  <h4>Events</h4>
	  <p>
	  {% for article in categories[1][1] %}
	  {% if article.tags[0].name in EVENTS_TAGS %}
	  <span class="{{ GLYPHICON[article.tags[0].name] }}"></span>
	  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br>
	  {% endif %}
	  {% endfor %}
	  </p>
	</div>

  <div class="col-sm-4">
    <h4>Opportunities</h4>
	  <p>
	  {% for article in categories[1][1] %}
	  {% if article.tags[0].name in OPPORTUNITIES_TAGS %}
	  <span class="{{ GLYPHICON[article.tags[0].name] }}"></span>
	  <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a><br>
	  {% endif %}
	  {% endfor %}
	  </p>
  </div>

</div> <!-- end .row -->

<div class="entry-content">
  {{ page.content }}
</div>

</section>
{% endblock %}
