{% extends "base.html" %}
{% block title %}{{ SITENAME }} :: {{ page.title }}{% endblock %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block meta %}
    <!--
    {% if page.author %}
        <meta name="author" content="{{ page.author }}" />
    {% else %}
        <meta name="author" content="{{ AUTHOR }}" />
    {% endif %}
    -->
    {% if page.summary %}
        <meta name="description" content="{{ page.summary|striptags|escape }}" />
    {% endif %}
{% endblock %}


{% block opengraph %}
    {% if OPEN_GRAPH_FB_APP_ID %}
        <meta property="fb:app_id" content="{{ OPEN_GRAPH_FB_APP_ID }}"/>
    {% endif %}
    <meta property="og:site_name" content="{{ SITENAME }}" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{ page.title|striptags|escape }}"/>
    <meta property="og:url" content="{{ SITEURL }}/{{ page.url }}"/>
    <meta property="og:description" content="{{ page.summary|striptags|escape }}" />
    {% if page.og_image %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ page.og_image }}"/>
    {% elif OPEN_GRAPH_IMAGE %}
        <meta property="og:image"
              content="{{ SITEURL }}/{{ OPEN_GRAPH_IMAGE }}"/>
    {% endif %}
{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}/{{ page.url }}">
{% endblock %}


{% block breadcrumbs %}
    {% if DISPLAY_BREADCRUMBS %}
    <ol class="breadcrumb">
        <li><a href="{{ SITEURL }}" title="{{ SITENAME }}"><i class="fa fa-home fa-lg"></i></a></li>
	  {% if page.url %}
        <li class="active">{{ page.title }}</li>
	  {% endif %}
    </ol>
    {% endif %}
{% endblock %}



{% block banner %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
<div class="carousel-inner">

  <div class="item active">
  	<center>
  	  <img src="{{ SITEURL }}/{{ BANNER }}" style="padding-top: 0px;
  	    padding-bottom: 0px" class="img-responsive">
  	</center>
  </div>


 
  
  <div class="item">
    <div class="row">
	  <!-- each row / div should add up to 12 -->
     <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top:10px; font-size:20px">
	  <h2><a href="{{ SITEURL }}/collaboration.html">Consultation & Collaboration</a></h2>
      <p style="font-size: 85%">
      We are very keen to collaborate with researchers on campus on
      ambitious projects where expertise in data science would have a
      significant impact on the research.
      </p>
      <a href="{{ SITEURL }}/proposeProject.html" class="btn btn-primary btn-md hidden-xs" role="button" >
         	Propose projects
      </a>
     </div>

     <div class="col-xs-4 col-sm-3 col-md-2" style="margin-top:20px">
       <a href="{{ SITEURL }}/images/DSI_pics/office_hours_in_conference_room_small.jpg"><img src="{{ SITEURL }}/images/DSI_pics/office_hours_in_conference_room_small.jpg"
           style="padding-top: 0px; padding-bottom: 0px" class="img-thumbnail"></a>
     </div>

    </div> <!-- end .row -->
  </div><!-- end .item -->



  <div class="item">
    <div class="row">
	  <!-- each row / div should add up to 12 -->
	  <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top:10px; font-size:20px">
		  <h2><a href="{{ SITEURL }}/{{ MAIN_PAGE_FOLDER }}/workshops.html"><!-- XXXX  -->
				  Workshops</a></h2>
	    <p style="font-size: 85%">
		DSI offers regular workshops, typically each week.
		These are mostly at the intermediate and advanced for common topics (e.g., R, git, python)
		and also introduces more exotic topics.
		Contact us if you want to teach a workshop.
		Vote to tell us which  topics  interest you most.
            </p>
	    <a href="https://docs.google.com/forms/d/1PJN-ifhOdUsFIX5cGl7y1pSldPsOfnT1MCO4Fat2DWA"
           class="btn btn-primary btn-md hidden-xs" role="button" >
		Propose workshop topics
           </a>
	  </div>

     <div class="col-xs-4 col-sm-3 col-md-2" style="margin-top:20px">
      <a href="{{ SITEURL }}/images/DSI_pics/Classroom_GISR_20170504.jpg"><img src="{{ SITEURL }}/images/DSI_pics/Classroom_GISR_20170504.jpg"
           style="padding-top: 0px; padding-bottom: 0px" class="img-thumbnail"></a>
     </div>
	  
    </div>
  </div>


  <div class="item">
      <div class="row">
	  <!-- col-sm-4   -->
      <div class="col-xs-12 col-md-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top:10px; font-size:15px">

	  <h2><a href="{{ SITEURL }}/{{ MAIN_PAGE_FOLDER }}/unseminars.html">Problem Solving Un-seminars</a></h2>

	  <!-- col-sm-3 col-md-2 -->
          <div class="col-xs-5 " style="float: right;">
		 <a href="{{ SITEURL }}/images/DSI_pics/classroom.JPG"><img src="{{ SITEURL }}/images/DSI_pics/classroom.JPG" class="img-thumbnail" style="float: right;"></a>
          </div>	  
	     <p style="font-size: 100%">
	   DSI runs a series of novel "un-seminars" -  
	   highly interdisciplinary brain storming sessions to solve
	   interesting data science problems in research projects from any discipline.
	   Speakers, typically not data scientists, are grappling with a
	   project that involves a non-trivial data science problem.  
	   They describe the data science problem in 10-15 minutes and then
 	 the audience asks more questions and offers suggestions and possible solutions.
          This is  a  very valuable and informative venue for speaker and audience alike, and a terrific place to learn
	   about the breadth of data science applications and solutions.
           <a href="mailto:datascience@ucdavis.edu">Contact us</a> if you are interested in presenting in this series.
        </p>
      </div>
   </div>
  </div>



  
  <div class="item">
    <div class="row">
      <div class="col-xs-8 col-sm-4 col-md-4 col-sm-offset-2 col-md-offset-3
        col-lg-offset-3" style="margin-top:10px;">
	    <h2><a href="https://docs.google.com/forms/d/e/1FAIpQLSdCT72MtNyEcTcbOP7bj76tkPw85H9Co1R_WxYKZu67gxzb7Q/viewform" target="_blank"> 
			Call for DSI affiliates
      </a></h2>
	    <p style="font-size: 100%">
      The Data Science Initiative (DSI) is building a campus community interested
      in Data Science.  Graduate students and postdocs developing and/or applying
      data science methods to research problems can apply to be affiliated with
      the DSI.
      </p>

      <a href="https://docs.google.com/forms/d/e/1FAIpQLSdaZGB0XhFT9Yl1INSHlpVJhOKT3YFu0AzEo1YZdEjf76lqow/viewform?c=0&w=1" class="btn btn-primary btn-md hidden-xs" role="button"
        target="_blank">Apply now!</a>
	  </div>

     <div class="col-xs-4 col-sm-3 col-md-2" style="margin-top:20px">
      <a href="{{ SITEURL }}/images/DSI_pics/Ken_and_Ben_hacking_small.jpg"><img src="{{ SITEURL }}/images/DSI_pics/Ken_and_Ben_hacking_small.jpg"
        class="img-thumbnail"></a>
     </div>

    </div> <!-- end .row -->
   </div>
  </div> <!-- end .carousel-inner -->

<!-- Carousel Bottom Buttons -->
<div style='padding-top: 50px'>
	<ol class="carousel-indicators" >
       <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
       <li data-target="#myCarousel" data-slide-to="1"></li>
       <li data-target="#myCarousel" data-slide-to="2"></li>
	</ol>   
</div>

<!-- Carousel Left/Right Buttons -->
<a class="carousel-control left" href="#myCarousel" data-slide="prev">
  <span class="glyphicon glyphicon-chevron-left"></span>
</a>
<a class="carousel-control right" href="#myCarousel" data-slide="next">
  <span class="glyphicon glyphicon-chevron-right"></span>
</a>

</div>
{% endblock %}



{% block content %}
<section id="content" class="body">
<div class="row" style='margin-bottom:10px'>

<div class="col-sm-5">
{# ==================== OPPORTUNITIES ==================== #}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Opportunities</h4>
  </div>
  <div class="panel-body">
  <table class="table table-striped table-condensed">
  {% for article in articles | sort(attribute='date')
    if article.category == 'Jobs'
    and article.nonews is not defined and article.expired is not defined %}	
  <tr>
    <td><span class="{{ GLYPHICON[article.category.name] }}"></span></td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
  </tr>
  {% endfor %}
  </table>
  </div>
  </div>
{# ==================== NEWS ==================== #}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">News</h4>
  </div>
  <div class="panel-body">
  <table class="table table-striped table-condensed">
  {% set news = articles
    | rejectattr('nonews', 'defined') | rejectattr('expired', 'defined') 
    | sort(attribute='date') %}

  {# Priority News #}
  {% for article in news if article.category in NEWS_CATEGORIES
    and article.priority is defined %}
  <tr>
    <td><span class="{{ GLYPHICON[article.tags[0].name] }}"></span></td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
  </tr>
  {% endfor %}

  {# Regular News #}
  {% for article in news if article.category in NEWS_CATEGORIES
    and article.priority is not defined %}
  <tr>
    <td><span class="{{ GLYPHICON[article.tags[0].name] }}"></span></td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></td>
  </tr>
  {% endfor %}

  </table>
  </div>
	</div>
{# ==================== WORKING GROUPS ==================== #}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Working Groups</h4>
  </div>
  <div class="panel-body">
  <table class="table table-striped table-condensed">
	{% for category, articles in categories
    if category.name == 'WorkingGroups' %}
  {% for article in articles | sort(attribute='title') %}	
  <tr>
    <td><span class="{{ GLYPHICON[article.tags[0].name] }}"></span></td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">
    {{ article.title.split('-', 1)[-1] }}
    </a></td>
    {% if article.private is not defined %}
    <td>{{ article.day }}</td>
    <td>{{ article.time }}</td>
    {#
    <td>{{ article.where.split(',', 1)[-1].replace(' Library', '') }}</td>
    #}
    {% endif %}
  </tr>
  {% endfor %}
  {% endfor %}
  </table>
  </div>
	</div>
{# ==================== ============ ==================== #}
</div> {# end of .col-sm-5 #}

<div class="col-sm-7">
{# ==================== EVENTS ==================== #}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Events</h4>
  </div>
  <div class="panel-body">
  <table class="table table-striped table-condensed">
  {% for category, articles in categories if category.name == 'Events' %}
  {% for article in articles | sort(attribute='date')
    if article.nonews is not defined and article.expired is not defined
    and article.date > article.date.now(article.date.tzinfo) %}
  <tr>
    <td><span class="{{ GLYPHICON[article.tags[0].name] }}"></span></td>
    <td>{{ article.date.strftime('%d %b') }}</td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">
    {{ article.title }}
    </a></td>
    <td>{{ article.time }}</td>
    <td>{{ article.where.split(',', 1)[-1].replace(' Library', '') }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
  </table>
  </div>
	</div>
{# ==================== OFFICE HOURS ==================== #}
  <div class="panel panel-default">
  <div class="panel-heading">
    <h4 class="panel-title">Office Hours</h4>
  </div>
  <div class="panel-body">
  <table class="table table-striped table-condensed">
	{% for category, articles in categories if category.name == 'OfficeHours' %}
  {% for article in articles | sort(attribute='who') %}	
  <tr>
    <td><span class="{{ GLYPHICON[article.category.name] }}"></span></td>
    <td><a href="{{ SITEURL }}/{{ article.url }}">
    {{ article.who }}
    </a></td>
    <td>{{ article.day }}</td>
    <td>{{ article.time }}</td>
    <td>{{ article.location.replace(' Library', '') }}</td>
  </tr>
  {% endfor %}
  {% endfor %}
  </table>
  </div>
	</div>
{# ==================== ============ ==================== #}
</div> {# end of .col-sm-7 #}

</div> {# end of .row #}

<div class="entry-content">
  {{ page.content }}
</div>

</section>
{% endblock %}
