<footer class="post-info">

{# Show Date or Day but not both. #}
{%if article.category == 'Events' %}
  <span class="label label-default">Date</span>
  <span class="published">
    <time datetime="{{ article.date.isoformat() }}">
      {{ article.locale_date }}
    </time>
  </span>
{% endif %}

{% if article.day is defined %}
  <span class="label label-default">Day(s)</span>
  {{ article.day }}
{% endif %}

{% if article.time is defined %}
  <span class="label label-default">Time</span>
  {{ article.time }}
{% endif %}

{% if article.where is defined %}
  <span class="label label-default">Where</span>
  {{ article.where }}
{% endif %}

{% if article.category == 'OfficeHours' %}
  <span class="label label-default">Who</span>
  {{ article.who }}
{% endif %}

{# ------------------------------------------------------------ #}
{# Defaults. Most of these should be off in the Pelican settings. #}
{% if SHOW_SERIES %}
  {% if article.series %}
    <span class="label label-default">Series</span>
    Part {{ article.series.index}} of {{ article.series.name }}
  {% endif %}
{% endif %}

{% if SHOW_ARTICLE_AUTHOR %}
  {% if article.author %}
    <span class="label label-default">By</span>
		{{ article.author }}
  {% endif %}
{% endif %}

{% if SHOW_ARTICLE_CATEGORY %}
  <span class="label label-default">Category</span>
   <a href="{{ SITEURL }}/{{ article.category.url }}">
     {{ article.category }}
  </a>
{% endif %}

{% if PDF_PROCESSOR %}
    <span class="label label-default">
        <a href="{{ SITEURL }}/pdf/{{ article.slug }}.pdf">PDF</a>
    </span>
{% endif %}

{% include 'includes/taglist.html' %}
{% import 'includes/translations.html' as translations with context %}
{{ translations.translations_for(article) }}

</footer><!-- /.post-info -->
