<footer>
   <div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
      <hr>
      <div class="row">
         <div class="col-xs-2 "><!-- &copy; Data Science.UCDavis.edu  -->
					 <a
						 href="mailto:datascience@ucdavis.edu">&lt;datascience@ucdavis.edu&gt;</a>
					 <br>
         </div>
         <center><div class="col-xs-8"><p class=""><a href="http://dsi.ucdavis.edu/signup.html">Subscribe for news of events</a></p></div>	 </center>
         <div class="col-xs-2"><p class="pull-right"><i class="fa fa-arrow-up"></i> <a href="#">Back to top</a></p></div>
      </div>
   </div>
</footer>
